[submodule "ClippyAI/Libs/DesktopNotifications"]
	path = ClippyAI/Libs/DesktopNotifications
	url = https://github.com/MrDoe/DesktopNotificationsNet8
[submodule "ClippyAI/Libs/EvDevSharp"]
	path = ClippyAI/Libs/EvDevSharp
	url = https://github.com/afshin-parsa/evdev-sharp
[submodule "ClippyAI/Libs/evdev-sharp"]
	path = ClippyAI/Libs/evdev-sharp
	url = https://github.com/MrDoe/evdev-sharp
