<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="OllamaUrl" value="http://127.0.0.1:11434/api/generate" />
        <add key="Model" value="llama3" />
        <add key="System" value="You write friendly responses in English to given tasks." />
        <!-- <add key="System" value="Du schreibst freundliche Antworten auf E-Mails in Deutsch." /> -->
    </appSettings>
</configuration>