<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DefaultLanguage" value="English" />
        <add key="OllamaUrl" value="http://localhost:11434/api" />
        <add key="OllamaModel" value="gemma2:latest" />
        <add key="UseEmbeddings" value="True" />
        <add key="StoreAllResponses" value="False" />
        <add key="PostgreSqlConnection" value="Host=localhost;Port=5432;Username=clippy;Password=password;Database=ClippyAI" />
        <add key="PostgresOllamaUrl" value="http://docker.host.internal:11434" />
        <add key="AutoMode" value="False" />
        <add key="DefaultTask" value="Default Email Response" />
        <add key="LinuxKeyboardDevice" value="" />
        <add key="SSHUser" value="christoph" />        
        <add key="SSHServerUrl" value="myServer" />
        <add key="SSHPort" value="22" />
        <add key="SSHLocalTunnel" value="localhost:11443:localhost" />
        <add key="SSHRemoteTunnel" value="" />
        <add key="SSHPrivateKeyFile" value="~/.ssh/private.key" />
        <add key="System" value=
"# IDENTITY and PURPOSE

- You are an expert in the task given to you.
- You provide detailed responses to the task.

# OUTPUT INSTRUCTIONS

- Read TEXT carefully and understand its context.
- Read TASK carefully and understand what is being asked.
- Write a detailed response to the task.
- Write in the language the data and task are provided in.
- Write in a professional tone.
- Don't write additional explanations or justifications, write just the answer.
- Don't invent information, write only what you can read in the text or use placeholders.
- Don't deny to provide an answer.
- Only output your response, no further explanations."/>
    <add key="VisionDevice" value="/dev/video0" />
    <add key="VisionModel" value="llama3.2-vision:latest" />
    <add key="VisionPrompt" value="Describe the image." />
    <add key="Temperature" value="1.0" />
    <add key="MaxLength" value="2048" />
    <add key="TopP" value="0.9" />
    <add key="TopK" value="40" />
    <add key="RepeatPenalty" value="1.1" />
    <add key="NumCtx" value="2048" />
    <add key="Threshold" value="0.2" />
    <add key="EmbeddingModel" value="nomic-embed-text" />
    </appSettings>
</configuration>
