[Desktop Entry]
Version=1.0
Name=ClippyAI
Comment=An AI assistant application
Exec=/usr/share/ClippyAI/ClippyAI
Path=/usr/share/ClippyAI
Icon=/usr/share/ClippyAI/bulb.png
Terminal=false
Type=Application
Categories=Utility
